.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*App*/
.app {
  width: 90%;
  margin: 0 auto;
}

/*header*/
.header {
  text-align: center;
}

.cards-wrap {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.card-wrap {
  display: inline-block;
  margin: 20px;
}

.border-card {
  border: 3px solid #F99;
}

.add-bill-wrap {
  background: rgba(30, 30, 255, 0.2);
}
.bills-list {
  background: rgba(30, 30, 255, 0.1);
}